// --------------------
// Definition of variables
$primary: #32c3ff;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}
a {
  padding-left: 20px;
}
// Signup Page
.header-text {
  text-align: center;
}
.signup {
  // border: 2px solid blue;
  display: grid;
  justify-content: center;
}
.form-div {
  // border: 2px solid black;
  margin-top: 20px;
  background-color: #ededed;
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
}
.form-input {
  margin-top: 20px;
  text-align: center;
  width: 200px;
  height: 35px;
  border-radius: 10px;
}
.button-div {
  // border: 2px solid green;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
.form-button {
  background-color: blue !important;
}

// Circle Image
.circle-image {

  width: 50px;
  height: 50px;
  margin-left: 30px;
  // margin: 1em auto;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}
// Navbar
.nav-links {
  // border: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

// Search result
.search-result{
  border: 2px solid black;
  width: 600px;
  height: 200px;
}
// New sign-up process
.dynamic-signup-div{
  display: grid;
  justify-content: center;
}
.test-button{
  width: 90px;
}

// Profile Styles
.profile-div{
  // border: 2px solid black;
  // margin-top: 20px;
  // margin-left: 30px;
  display: grid;
  justify-content: center;
}
.profile-dog-image{
  width: 500px;
  border-radius: 30px;
  margin-top: 10px;
}


.Home{
  background-color: #EAE7DC !important;
  height: 1000px;
}

.navcolor{
  background-color: #BAB2B5 !important;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0,0,0,0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0,0,0,0.36);
  box-shadow: 7px 4px 13px -5px rgba(0,0,0,0.36);
}
.testi{
  color: black;
}

//#F17C42 #FFB48F