// --------------------
// Definition of variables
$primary: #32c3ff;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components

*{
  font-family: 'Dosis', sans-serif;

}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}
a {
  padding-left: 20px;
}
// Signup Page
.header-text {
  text-align: center;
}
.signup {
  // border: 2px solid blue;
  display: grid;
  justify-content: center;
}
.form-div {
  // border: 2px solid black;
  margin-top: 20px;
  background-color: #ededed;
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
}
//Search
.search-div{
  // border: 2px solid black;
  margin-top: 40px;
  margin-left: 40px;
  display: grid;
  justify-content: left;
  align-content: center;
}
.span-test{
  display: flex;
  align-content: center;
  justify-content: center;
}
.search-field-div{
  // border: 2px solid blue;
  display: grid;
  align-content: center;
  justify-content: left;
}
.search-field{
  width: 550px;
  height: 45px;
  font-size: 20px;
}
.search-button{
  width: 50px;
  height: 44px;
}
// Search result
.search-result {
  // border: 2px solid black;
  background-color: #f8f8f8;
  margin-top: 40px;
  // margin-bottom: 40px;
  width: 600px;
  height: 200px;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);

}
.no-padding{
  padding: 0 !important;
}
.search-result-image{
  height: 200px;
  width: 250px;
}
.search-name{
  color: black;
}
.search-bio{
  color: #6d6d6d;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}
.tennis-balls{
  height: 25px
}
.dog-size{
  height: 35px;
}
.tennis-balls-row{
  // border: 2px solid black;
height: 90px;
align-content: flex-end;
color: black;
margin-bottom: 0px;
}

.testcol{
  // border: 2px solid black;
  display: grid;
}
.align-center{
  text-align: center;
}
// New sign-up process
.dynamic-signup-div {
  // border: 2px solid blue;
  display: grid;
  justify-content: center;
}
#create-account-header{
  text-align: center;
  padding-top: 30px;
}
.textarea{
  margin-top: 20px;
  text-align: center;
  width: 250px;
  height: 100px;
}
.form-background{
  margin-top: 50px;
  // border: 2px solid black;
  display: grid;
  justify-content: center;
  background-color: #f2eff0;
  width: 400px;
  height: 300px;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
}
.form-background-owner{
  margin-top: 50px;
  // border: 2px solid black;
  display: grid;
  justify-content: center;
  background-color: #f2eff0;
  width: 400px;
  height: 600px;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
}
.form-background-dog{
  margin-top: 50px;
  // border: 2px solid black;
  display: grid;
  justify-content: center;
  background-color: #f2eff0;
  width: 500px;
  height: 700px;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
}

.form-background-login{
  margin-top: 50px;
  // border: 2px solid black;
  display: grid;
  justify-content: center;
  background-color: #f2eff0;
  width: 400px;
  height: 300px;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
}
#size-activity-header{
  text-align: center;
}
.size-div{
  display: flex;
  justify-content: center;
  // border: 2px solid black;
}
.size-input{
  margin-right: 10px;
}

.input-div{
  display: grid;
  justify-content: center;
}
.form-input {
  margin-top: 20px;
  text-align: center;
  width: 250px;
  height: 50px;
}
.form-input-2{
  margin-top: 20px;
  text-align: center;
  width: 250px;
  height: 50px;
}

.image-upload-div{
  // border: 2px solid black;
  display: grid;
  justify-content: center;
}
.image-header{
  text-align: center;
}
.button-div {
  // border: 2px solid green;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.form-button-original {
  width: 90px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  background-color: #31aa3f;
}

.email-button {
  margin-top: 20px;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  background-color: #31aa3f;
}
.email-button:hover {
  margin-top: 20px;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  background-color: #288333;
}

.form-button {
  width: 90px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  background-color: #31aa3f;
}
.form-button-2 {
  width: 90px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  background-color: #b9b9b9;
  margin-right: 30px;
}
.selected{
  color: #31aa3f;
}
.not-selected{
  color: black;
}
.progress-bar{
  margin-top: 40px;
  background-color: white !important;
}
// Profile Styles
.profile-div{
  // background-color: #666666;
  color: black;
  margin-left: 20px;
}
.profile-col{
  
  // border: 2px solid blue;
  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
}
.feed{
  // border: 2px solid black;
  display: grid;
  // display: grid;
  justify-content: center;
}
.post-div{
  // border: 2px solid blue;
  width: 600px;
  height: 100px;
  margin-top: 20px;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
}
#post-header{
  margin-top: 50px;
  text-align: left;
}
#post-header-unique{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 100px;
}
.feed-post{
  // border: 2px solid black;
  height: 50px;
  margin-top: 25px;
  display: flex;
  align-content: center;


}
.feed-paragraph{
margin-left: 10px;
margin-top: 15px;
}

.unique-feed{
  border: 2px solid black;
  justify-content: center;
  justify-items: center;
  display: grid;

}
.feed-comp-div{
  -webkit-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
}

#unique-header{
  margin-top: 30px;
}

.feed-comp-div-unique{

  -webkit-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 18px -13px rgba(0,0,0,0.75);
}


.profile-container{
  min-height: 100%;
}
.profile-dog-image {
  width: 200px;
  margin-top: 10px;
}

.profile-header{
  margin-top: 10px;
  font-size: 20px;
}
.profile-text{
  font-size: 15px;
}
.feed-input{
  margin-top: 30px;
  width: 400px;
  height: 40px;
}
.post-button{
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 2px;
  color: #288333;
}
.search-button{
  height: 44px;
  width: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 2px;
  color: #288333;
}
.search-button:hover{
  height: 44px;
  width: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-bottom: 2px;
  background-color: #dfdfdf;
}
.sort-activity{
  margin-top: 13px;
  margin-left: 10px;
}
#sort-activity-label{
  margin-left: 10px;
  margin-top: 8px;
}

.map-text{
  color: black;
}
.margin-div{
  justify-content: center;
}
.Home {
  // padding-top: 30px;
  // width: 100%;
  // background-color: #FFB48F !important;
  // height: 1000px;
}
.carousel-div {
  // border: 2px solid black;
  display: flex;
  justify-content: center;
}
.cover-image {
  background-image: url('./components/images/IMG_0701.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;


}
.cover-image-content {
  // padding-top: 360px;
}
.cover-image-header {
  font-size: 120px;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: center;
}
.cover-image-subtext {
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: center;
}
.cover-image-button-div {
  margin-top: 20px;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
}
.cover-image-button {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background-color: #31aa3f;
  font-weight: bold;
  font-size: 24px;
  color: white;
  border-width: 2px;
  border-color: white;
}

.cover-image-button-2 {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background-color: #31aa3f;
  font-weight: bold;
  font-size: 24px;
  color: white;
  border-width: 2px;
  border-color: rgb(27, 27, 27);
}

.cover-image-button:hover {
  border-radius: 20px;
  background-color: #30853a;
  font-weight: bold;
  // color: rgb(190, 190, 190);
  border-width: 2px;
  // border-color:  rgb(190, 190, 190);
}
.cover-image-button-2:hover {
  border-radius: 20px;
  background-color: #30853a;
  font-weight: bold;
  // color: rgb(190, 190, 190);
  border-width: 2px;
  // border-color:  rgb(190, 190, 190);
}

//Middle Section

#how-it-works{
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.middle-section{
  height: 400px;
  width: 100%;
  background-color: white;
}
.middle-headers{
  margin-bottom: 30px;
}
.middle-paragraphs{
  color: #6d6d6d;
}
.middle-row{
  margin-top: 20px;
}
.button-row{
  padding-top: 70px;

}
.middle-image-1{

}
.middle-image-2{
  height: 140px;
  margin-top: 32px;
}
.middle-image-3{
  height: 170px;
}
.container-2{
  margin: 0;
  padding: 0;
  width: 100%;
  color: black;
  margin-bottom: 320px;
}
.image-col{
  display: grid;
  justify-content: center;
}
.image-cont{
  display: flex;
  justify-content: center;
}

//Footer
.footer-section{
  width: 100%;
  height: 100px;
  background-color: #333333;
}
.footer-row{
  padding-top: 20px
}

.faIcons{
  color: white;
}


.center-stuff{
  display: flex;
  justify-content: space-evenly;
}


//Mail

.mail-div{
  // border: 2px solid black;
  display: grid;
  justify-content: center;
}
#subject-field{
  margin-top: 50px;
  width: 350px;
  height: 50px;
  text-align: center;
}
#your-email-field{
  margin-top: 50px;
  width: 350px;
  height: 50px;
  text-align: center;

}
#message-field{
  margin-top: 50px;
  width: 350px;
  height: 100px;
  text-align: center;
}

#breed-select{
  width: 250px;
}

.navcolor {
  background-color: #f2eff0 !important;

  -webkit-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 7px 4px 13px -5px rgba(0, 0, 0, 0.36);
}
.navbar {
  height: 60px;
  width: 100%;
  // border: 2px solid yellow;
}
.nav-icons {
  color: black;
  padding-right: 20px;
}
.nav-icons:hover {
  color: #adadad;
}
.logo {
  height: 50px;
}

.boot1 {
  // border: 2px solid blue;
}
.boot2 {
  // border: 2px solid green;
}
.boot3 {
  // border: 2px solid red;
  display: flex;
  justify-content: flex-end;
}
.boot4 {
  display: flex;
  justify-content: flex-end;
  font-family: 'Dosis', sans-serif;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom-style: none;
}
.signup-login {
  color: black;
  border-bottom-style: none;
}
.testlink {
  text-decoration: none;
  border-bottom-style: none;
}

.signup-login:hover {
  color: #adadad;
  text-decoration: none;
  border-bottom-style: none;
}

.testi {
  color: black;
}
.testpic {
  height: 500px;
}

//#F17C42 #FFB48F
